# Core dependencies
numpy
pandas
scipy

# NLP libraries
spacy
nltk
transformers
sentence-transformers
stanza
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz

# Graph processing
networkx

# Machine learning
scikit-learn
torch==1.13.1+cpu torchvision==0.14.1+cpu torchaudio==0.13.1 --index-url https://download.pytorch.org/whl/cpu

# Data ingestion
beautifulsoup4
requests
selenium
PyPDF2
python-docx
lxml

# Visualization
matplotlib
plotly
streamlit
streamlit-agraph

# Utility
tqdm
pyyaml
pytest
